/* general settout */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body setout */
html, body {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto 1fr auto;
    font-family: 'Voga';
    min-height: 100vh;
    background-image: url(.././images/Safari\ Heaven\ Zoo.jpg);
    background-size: cover; /* Ensure background image covers the entire viewport */
    overflow-x: hidden;
}

@font-face {
    font-family: 'Voga';
    src: url('../Voga-Medium-CD/Voga-Medium.otf') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}

/* header */
/* header inherits from main index.html via "<link href="./css/styles_index.css" rel="stylesheet">"*/
header{
    grid-row: 1;
}

    .card-img-top{
        height: 200px;
        object-fit: cover;
    }


/* main container */
main{
    grid-row: 2;
    background-color: #EDE9EB;
}

main .section1{
    background-color: white;
}


main .section1 p{
    margin: 10px;
    color: black;
    letter-spacing: 2px;
}

main .section2 h3{
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 3em;
    border-bottom: 4px solid grey;
    padding-bottom: 30px;
}

.section2  .card {
    background-color: #EDE9EB;
    border: none;
}

.section2 .card:hover {
    cursor: pointer;  
}

.section2 {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
}

/* section 2 card h & p styling */
.col-md-4 .card-body h5{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.5em;
    
}

.col-md-4 .card-body p{
    color: black;
    font-size: 1.2em;
}

/* section 2 card zoom effect */
#educational-top-img{   
    transition: transform 0.3s ease;
    height: 300px;
    object-fit: cover;
}

#educational-top-img:hover{
    transform: scale(1.03);
}

.section2 .card-img-top{
    transition: transform 0.3s ease;
}

.section2 .card-img-top:hover{
    transform: scale(1.03);
}

#nature-play,
#leap-img,
#embark-img
{
    height: 215px;
}

#campout-img{
    object-fit: cover;
}


/* section 3 for schools */
main .section3{
    background-color: white;
    margin-top: 50px;
    margin-bottom: 60px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

main .section3 h3 {
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 3em;
    border-bottom: 4px solid grey;
    padding-bottom: 30px;
    margin: 0 20px;
}


main .section3 {
    margin-top: 250px;
    /* add margin left /right if necessary */
    margin-bottom: 60px;
    
}

.section3  .card {
    background-color: white;
    border: none;
}

.section3 .row{
    margin-left: 20px;
    margin-right: 20px;
}

main .section3 img,
main .section4 img{
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover{
        transform: scale(1.03);
    }
}


/* Yellow Middle Box (CTA Box) */
.container .cta {
    display: flex;
    height: 450px; 
    max-width: 1100px; /* Limit the width */
    background-color: #f4c55d;
    padding: 20px; /* Add some padding for better spacing */
    margin: 0 auto; /* Center the container */
    align-items: center;
    gap: 20px; /* Add gap between the elements */
    /* Remove top, left, and transform properties */
    justify-content: space-between; /* Distribute space between elements */
     position: absolute;
    z-index: 1;
}

#Things-to-do-img {
    height: 250px;
    width: 250px;
    flex-shrink: 0; /* Prevent the image from shrinking */
    float: right;
    margin-right: 140px;
      
}

#todo-button {
    width: 250px;
    height: 80px;
    background-color: #dff592;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

#todo-button:hover {
    background-color: #CAF509;
}

/* yellow cta positioning */
.section2 .section3{
    position: relative;
}

/* section 4 styling */
main .section4{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px; 
}

main .section4 h3{
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 3em;
    border-bottom: 4px solid grey;
    padding-bottom: 30px;

}

main .section4 .card{
    background-color: #EDE9EB;
    border: none;
}

/* section 4 img animation reported in section 3*/


/* upcoming events wrapper styling */

.events-wrapper{
   margin: 0 auto;
   margin-top: -250px;
    
} 

main .section4 {
    margin-top: 50px;
    margin-bottom: 60px;
    height: 1900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* foofter */
footer{
    grid-row: 3;
    background-color: #1c2020;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* media query for main h3 span */
@media only screen and (max-width: 926px) {
    main .section1 h3{
        width: 100%;
    }
    main .section1{
        height: auto;
    }

}

/* media query to adjust section 3 height */
@media only screen and (max-width: 879px) {
    main .section3{
        height: auto;
    }
    
}

/* media query for container section 3 .cta*/
@media (max-width: 1000px) {
    .container .cta {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        height: auto; /* Let the height adjust automatically */
        margin-top: -60px; /* Move the .cta up */
        max-width: 400px;
    }
    .container .cta img {
        display: none;
       
    }
    .container .cta .descriptive-elements {
        text-align: left; /* Center text on smaller screens */
    }
    
}

/* media query for container section 3 .cta*/

@media only screen and (max-width: 1000px) {
    main .section4 {
        height: 2600px;
        
    }
     .events-wrapper{
        margin-top: 80px;
    }
    
}





















