*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    grid-template-rows: auto 1fr auto;
    font-family: 'Display Fair', sans-serif !important;
    overflow-x: hidden;
    
}

/* header */
header{
    background: linear-gradient(to right,rgb(32, 95, 13), rgb(12, 105, 28) ) ;
    padding: 30px;
  
}

header nav .navbar-brand{
    color: white !important;
}

.nav-link{
    color: white !important;
}

/* main container styling */
/* <h1 id="main-text"> */
#main-text{
    color: green;
    cursor: pointer;
    text-underline-offset: 6px;

    &:hover{
    text-decoration: underline;
    
    }
}

/* opening-hours-title */
#opening-hours-title{
    letter-spacing: 2px;
}

/* opening-hours-block */
#opening-hours-block{
background-color: rgb(162, 181, 185);
    width: 400px;
    height: 130px;
    border-radius: 0 20px 0 0;
    padding: 20px;
    border: 4px solid #ffc815;
}

.opening-hours-text{
    line-height: 4px;
    margin-top: 15px;
}

/* Hours and location part */
.main-text-h3{
    color: green;
    cursor: pointer;

    &:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
    }

}

/* footer */

footer{
    background-color: black;
    color: white;
}

/* media query for main content display column at 1220px */
@media  only screen and (max-width: 1220px) {
    .row{
        display: flex;
        flex-direction: column;
    }
}


/*------- Things to do page styling ------------ */

#things-todo-container h1{
    margin-bottom: 100px;
}

#things-todo{
    border-top: 2px solid grey;
}

#things-todo p{
    margin-top: 20px;
    line-height: 17px;
    cursor: pointer;
    font-size: 0.8em;
}

#ASL-information h3, h2{
    letter-spacing: 2px;
    color: green;
}

#learn-more,
#register-now{
    padding: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #7a8a00;
    color: white;
    font-weight: 500;
    border: 1px solid yellowgreen;
}

#free-activities{
    margin-top: 20px;
}

#free-activities-img,
#attractions-img,
#ticket-img,
#wild-explorer-img {
    margin-bottom: 20px;
}

#inguana-care-text,
#arctic-tundra-text{
    color: rgb(27, 88, 27);
    font-weight: 700;
}

#hand-indicator{
    width: 20px;
    height: 20px;
}

#shark-dive-text{
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* showing and diving container */

